<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="conexionBD" connectionString="Data Source=KAKASHISITO\SQLEXPRESS2;Initial Catalog=ejemploConexionBD;Persist Security Info=True;User ID=sa;Password=Dragon905292886423"
            providerName="System.Data.SqlClient" />
        <add name="CursoDotNetProyectoEmpresa.Properties.Settings.prueba2DBConnectionString"
            connectionString="Data Source=KAKASHISITO\SQLEXPRESS;Initial Catalog=prueba2DB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CursoDotNetProyectoEmpresa.Properties.Settings.GanaderiaBDConnectionString"
            connectionString="Data Source=KAKASHISITO\SQLEXPRESS2;Initial Catalog=GanaderiaBD;Persist Security Info=True;User ID=sa;Password=Dragon905292886423"
            providerName="System.Data.SqlClient" />
        <add name="CursoDotNetProyectoEmpresa.Properties.Settings.ejemploConexionBDConnectionString"
            connectionString="Data Source=KAKASHISITO\SQLEXPRESS2;Initial Catalog=ejemploConexionBD;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>